a {
  color: white;
  text-decoration: none;
}

.navbar {
  display: flex;
  padding: 20px 400px;
  justify-content: space-between;
  color: white;
  font-weight: bold;
}

.navbar div:hover {
  color: #ffd700;
  cursor: pointer;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.name {
  font-size: 80px;
  text-align: center;
  color: white;
  margin: 0 200px;
  line-height: 1;
}

.desc {
  font-size: large;
  text-align: center;
  padding: 10px 250px;
  color: white;
}

.btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}

.linkedin {
  color: white;
  width: 150px;
  height: 50px;
  background-color: #0077b5;
  border: 0;
  border-radius: 5px;
}

.linkedin:hover {
  background-color: #00a0dc;
  cursor: pointer;
}

.github {
  color: white;
  width: 150px;
  height: 50px;
  background-color: #181717;
  font-weight: bold;
  border: 0;
  border-radius: 5px;
}

.github:hover {
  background-color: #6e5494;
  cursor: pointer;
}
